/* Fonts */
@font-face {
  font-family: "Voga";
  src: url("/fonts/Voga-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Maharlika";
  src: url("/fonts/Maharlika-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Panel-Sans";
  src: url("/fonts/Panel-Sans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Panel-Sans-Thin";
  src: url("/fonts/Panel-Sans-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Panel-Sans-Bold";
  src: url("/fonts/Panel-Sans-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  /* #f8e8e2   */
  background-color: #f3eee8;
  margin: 0px;
  overflow-x: hidden;
}

.onepage {
  overflow: hidden;
}

.resume {
  position: absolute;
  width: 60%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  padding-bottom: 3vh;
}
.resume h1 {
  font-size: 5vw;
  font-weight: 300;
  margin: 0px 0px 0px 0px;
}
.resume h2 {
  font-size: 1.3vw;
  font-weight: 400;
  margin: 0px 0px 5px 0px;
}
.resume h3 {
  width: 100%;
  justify-self: left;
  font-size: 1.3vw;
  margin: 15px 0px 0px 0px;
}
.resume p {
  width: 100%;
  justify-self: left;
  margin: 0px 0px 0px 0px;
}
.resume ul {
  width: 100%;
  justify-self: left;
  margin: 10px 0px 10px 30px;
}
.resume-link {
  color: black;
}

.custom-line {
  width: 100%;
  height: 2px;
  background-color: #ff81af;
  border: none;
  margin: 10px 0px 0px 0px;
}
.custom-line-v {
  height: 70vh;
  width: 2px;
  background-color: #ff81af;
  border: none;
  margin: 0px 5% 0px 5%;
}

.small-spacer {
  margin: 20px 0px 20px 0px;
}

.resume-split {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.resume-split .box {
  width: 45%;
}

#sineCanvas {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 84vh;
  z-index: -1;
}

img,
a,
h2 {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
}

/* Top Bar */
.top-bar {
  width: 100%;
  height: 10vh;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.logo-box {
  width: 30%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.logo-box #logo-image {
  width: 15%;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.logo-box #logo-text {
  font-family: "Maharlika", serif;
  color: rgb(33, 33, 33);
  font-size: 2vw;
  margin-bottom: 20px;
}

.menu-right {
  width: 16%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.5vw;
}
.menu-right #menu-text {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.7vw;
}
.menu-right a {
  color: rgb(33, 33, 33);
  text-decoration: none;
  transition: transform 0.5s ease, font-size 0.5s ease;
  display: inline-block;
  transform-origin: center;
}
.menu-right a:hover {
  transform: scale(1.06); /* Adjust scale to desired size */
}
.menu-right a.active {
  text-decoration: underline;
}

/* Welcome Section */
.welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portrait {
  width: 25vw;
  padding-right: 5vw;
  padding-top: 10vh;
  z-index: -2;
}
.burst {
  position: absolute;
  top: 43vh; /* Center vertically */
  left: 73vw; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjusts the position to center */
  z-index: -3;
  animation: rotate 40s linear infinite; /* Animation for rotation */
  width: 40%;
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.hi {
  font-family: "Maharlika", sans-serif;
  color: rgb(33, 33, 33);
  font-size: 5vw;
  margin-bottom: 0px;
  margin-top: 10vw;
}
.about-text {
  font-family: sans-serif;
  font-weight: 300;
  color: rgb(33, 33, 33);
  font-size: 1.5vw;
}
.left-text {
  width: 38vw;
  height: 70vw;
  display: flex;
  flex-direction: column;
  padding-top: 40vh;
  padding-right: 8vw;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
